@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_TrioLayout.cshtml";
}

<section id="page_about" class="preSubAbout">
    <div class="subAbout">
        <div class="container">
            <div class="about_txt">
                <p>
                    In 2009, in the capital of Turkey, Istanbul, the direction of
                    Combat Aikido Usmanov was presented at the Congress of World
                    Martial Arts Associations. At the Congress, the commission,
                    having studied the direction of Combat Aikido Usmanov, unanimously
                    approved and recognized that the International Association of Combat
                    Aikido is the direction of Usmanov.
                    On December 22, 2014, the International Combat Aikido Association
                    was re-registered by the Ministry of Justice of the Republic of
                    Uzbekistan with amendments and additions to the Charter.
                    Combat Aikido includes 10 areas of competition
                </p>
            </div>
        </div>
    </div>
</section>